<h2>Followers User</h2>

<% @followers.each do |follower| %>
  <table class='table'>
      <thead>
        <tr>
          <th>image</th>
          <th>name</th>
          <th colspan="3"></th>
          <th colspan="3"></th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td><%= attachment_image_tag(following, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %></td>
            <td><%= follower.name %></td>
            <td><%= "フォロー数#{follower.followings.count}" %></td>
            <td><%= "フォロワー数#{follower.followers.count}" %></td>
            <td><%= link_to 'Show', user_path(follower) %></td>
          </tr>
      </tbody>
 </table>
<% end %>